// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
  border: 1px dotted black;
}
a {

  // border: 1px dotted black;
}

.nav-links {
  font-family: 'Cantarell', sans-serif;
  p {
    padding-left: 5px;
  }
}

.profile-name {
  font-family: 'Bangers', cursive;
}

.hide-me {
  visibility: hidden;
}

.no-tweets {
  font-family: 'Bangers', cursive;
}

.tweet-body{
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 700px;
  .tweet-box {
    border: 1px solid black;
    // height: 200px;
    border-radius: 25px;
    background-color: #1DA1F2;
    margin: 5px;
    width: 100%;
    .tweet-header {
      font-family: 'Cantarell', sans-serif;
      width: 100%;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 5px;
      p {
        font-weight: bold;
        padding-left: 10px;
      }
      .username {
        color: black;
        font-style: italic;
        font-weight: 600;
      }
      a {
        border: 1px dotted black;
        padding-right: 10px;
        color: black;
      }
      .edit-icon {
        padding-left: 5px;
        width: 20px;
      }
      .close-icon {
        width: 40px;
      }

    }

    .tweet-content {
      height: 200px;
      font-family: 'Contrail One', cursive;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}


.profile-pic {
  border-radius: 50%;
}

.tag_delete {
    width: 15px;
}
